.demo-numbers__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto !important;
    width: 400px;
    height: 400px;
    }
    .demo-numbers__item {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 0 15px #FFF;
        text-align: center;
        text-indent: 0 !important;
        line-height: 390px;
        background-color: #FFF;
        /*text-shadow: 0 0 1em rgb(0,0,0);*/
        background-position: center center;

        &:before {
            content: none !important;
            }

        &:nth-child(1) {
            background-image: url(../img/demos/cells-bw.png);
            }
        &:nth-child(2) {
            background-image: url(http://img-fotki.yandex.ru/get/5109/5091629.a2/0_85fc9_9d0b4fcd_XL);
            }
        &:nth-child(3) {
            background-image: linear-gradient(-45deg,
                black 50%, white 50%);
            /*background-size: 3em 3em;*/
            }
        &:nth-child(4) {
            background-image: url(http://img-fotki.yandex.ru/get/3001/5091629.a2/0_85de8_117f440f_L);
            }

        }
        .demo-numbers__item SPAN {
            mix-blend-mode: difference;
            font-size: 15em;
            font-weight: bold;
            color: #FFF;
            }