.demo-devlogos {
    @include center;
    width: 100%;
    text-align: center;
    }
.demo-devlogos__item {
    display: inline-block;
    width: 250px;
    height: 250px;
    background-size: contain;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-blend-mode: luminosity;
    text-indent: 0 !important;

    transition: background-color .5s;

    &:hover {
        background-color: transparent;
        }

    &:before {
        content: none !important;
        }
    }
    .demo-devlogos__item--sass {
        margin-left: 1em;
        background-image: url(http://img-fotki.yandex.ru/get/6745/5091629.a2/0_85df6_9b6df5df_L.png);
        }

    .demo-devlogos__item--grunt {
        background-image: url(http://img-fotki.yandex.ru/get/6745/5091629.a2/0_85df4_36c727a7_L.png);
        }

    .demo-devlogos__item--git {
        background-image: url(http://img-fotki.yandex.ru/get/6805/5091629.a2/0_85df7_992a7233_L);
        }